/* variables
------------------------------------------------------------*/
$main-fonts: "Noto Sans JP", "neue-haas-grotesk-display", sans-serif;

//color common
$main-bg-cl: #000;
$main-text-cl: #fff;
$gray-text-cl: #a7a7a7;
$black-cl: #000;
$white-cl: #fff;
$gray-cl: #393939;

:root {
  --app-height: 100vh;
  --menu-height: 100vh;
  --noto-fonts: "Noto Sans JP", sans-serif;
  --neue-fonts: "neue-haas-grotesk-display", sans-serif;
}
